extends layout

block content
    .inner
        form.form(action="/register" method="POST")
            h2= title

            label(for="name") Name
            input(type="text" name="name" value=name)

            label(for="email") Email Address
            input(type="email" name="email" value=email)

            label(for="password") Password
            input(type="password" name="password")

            label(for="password-confirm") Confirm password
            input(type="password" name="password-confirm")

            input.button(type="submit" value="Sign up →")