mixin forgotLoginForm()
    form.form(action="/account/forgot" method="POST")
        h2 I forgot my password
        label(for="email") E-Mail
        input(type="email" name="email")
        input.button(type="submit" value="Request new password")