mixin storeCard(store = {})
    .store
        .store__hero
            .store__actions
                if user && store.author.equals(user._id)
                    .store__action.store__action--edit
                        a(href=`/stores/${store._id}/edit`)
                            != h.icon('pencil')
            img(src=h.storeImage(store.photo))
            h2.title
                a(href=`/stores/${store.slug}`)= h.shorten(store.name, 2)
        .store__details
            p= h.shorten(store.description, 25)